.imagen-principal{
    width: 100%;
}

.logo{
    width:2.5rem;
    border: 1px solid rgb(163, 160, 160);
    margin: 0.5rem;
    margin: 1.4rem;
}

.img-coffe{
width: 17rem;
object-fit: cover;
} 
